# Help files
HELP.md

# Maven target directories (ignore all, but allow specific target folders if needed)
target/
#!**/src/main/**/target/
#!**/src/test/**/target/

# Maven wrapper binary (don't track jar file)
.mvn/wrapper/maven-wrapper.jar

# Eclipse / Spring Tool Suite (STS) specific files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
#!**/src/main/**/build/
#!**/src/test/**/build/

# Visual Studio Code
.vscode/

src/
src/*
*.js

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
